* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;

}

body {
    font-family: 'Exo', sans-serif;
    background-color: #001515;
    scroll-behavior: smooth;
}

:root {
    --body--h1-Font-Size: 2.7rem;
}

header {
    position: relative;
    width: 100%;
    height: 85vh;
    background: url(Assets/hero-bg-img.png) no-repeat center center/cover;
    overflow: hidden;
}


.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    z-index: 1000;
}

.navbar-content {
    max-width: 1300px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos {
    display: flex;
    align-items: center;
}

.logo {
    height: 90px; /* Adjust height as needed */
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.contact-button {
    background: #009898;
    color: white;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 1rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 2px;
    width: 25px;
    background: #fff;
    margin: 4px 0;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Hide sidebar off-screen initially */
    height: 100%;
    width: 250px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: right 0.3s ease; /* Use right property for animation */
}

.sidebar.active {
    right: 0; /* Slide sidebar into view */
    ovw
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.sidebar-links li {
    margin: 20px 0;
}

.sidebar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.close-sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.close-sidebar span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.close-sidebar span:first-child {
    transform: rotate(45deg);
}

.close-sidebar span:last-child {
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .contact-button {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .contact-button {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}
.hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    max-width: 1500px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
}

.hero h1 {
    font-size: 3.3rem;
    margin-bottom: 20px;
    margin: 0px auto;
    width: 45%;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 30px;
    width: 70%;
}

.hero-button {
    background: #fff;
    color: #014874;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 899px) {

    header {
        position: relative;
        width: 100%;
        height: 92vh;
        background: url(Assets/hero-bg-img.png) no-repeat center center/cover;
    }

    .navbar-content {
        justify-content: space-between;
    }

    .hero-content {
        margin-top: 50px;
    }

    .navbar-content button {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .sidebar {
        display: none;
    }

    .sidebar.active {
        display: flex;

    }

    .close-sidebar {
        display: none;
    }

    .hamburger span {
        height: 4px;
        width: 35px;
        background: #fff;
        margin: 4px 0;
        border-radius: 5px;
        transition: all 0.5s ease;
    }

    .hamburger.active span:first-child {
        transform: rotate(45deg) translate(3px, 3px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:last-child {
        transform: rotate(-45deg) translate(3px, -3px);
    }
}

@media (max-width: 768px) {
    .hero {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-content {
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 1.9rem;
        margin-bottom: 20px;
        margin: 0px auto;
        width: 95%;
    }

    .hero p {
        font-size: 1rem;
        margin-bottom: 30px;
        width: 96%;
    }
}

/* Header Section Ends Here */

.logo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    width: 20%;
    max-width: 150px;
    text-align: center;
    margin-bottom: 20px;
}



.logo-container img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .logo-container {
        width: 25%;
    }
}

@media (max-width: 992px) {
    .logo-container {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .logo-container {
        width: 40%;
    }
}

/* Logo Section Ends Here */

.about-section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}

.about-overlay {
    position: absolute;
    z-index: 2000;
    right: -70px;
    top: -20px;
}

.container {
    display: flex;
    justify-content: center;
}

.about-content {
    display: flex;
}

.left-section {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: start;
    text-align: left;
}

.left-section span {
    color: #00D1D1;
    font-size: 18px;
}

.left-section h1 {
    font-size: var(--body--h1-Font-Size);
    color: white;
}

.left-section p {
    color: white;
    width: 80%;
    text-align: left;
}

.right-section {
    flex: 1;
}

.right-section img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column-reverse;
    }


    .left-section,
    .right-section {
        padding: 0;
        margin-top: 50px;
        width: 95%;
    }

    .about-overlay {
        display: none;
    }

    .about-section {
        padding: 10px 0;
    }

    .about-content p {
        width: 98%;
    }
}

/* About Section Ends Here */

.program {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    background-color: #002121;
}

.program-head {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0px auto;
    align-items: center;
}

.program-head h1 {
    font-size: var(--body--h1-Font-Size);
    color: white;
}

.program-head span {
    color: #00D1D1;
}

.program-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding: 40px 0px;
}

.img {
    width: 100%;
    height: 100%;
}

.box {
    color: white;
    width: 95%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.box-1 {
    background-color: #009898;
}

a .button p {
    color: #021616;
    font-weight: bold;
}

.box-content p {
    font-size: 16px;
    width: 80%;
    font-weight: 500;
}

.button img {
    margin-right: 10px;
}

.box-content .button {
    justify-content: space-evenly;
    background-color: white;
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-4 {
    background-color: #0047FF;
}

@media (max-width: 768px) {

    .program {
        margin-top: 60px;
    }

    .program-head {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0px auto;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .img {
        width: 100%;
        height: 70%;
        background-color: none;
    }


    .box {
        color: white;
        width: 95%;
        height: 330px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
    }

    .box-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .box-content h4 {
        font-size: 22px;
        width: 90%;
    }

    .box-1 {
        background-color: #009898;
    }

    a .button p {
        color: #021616;
        font-weight: bold;
    }

    .box-content p {
        font-size: 15px;
        width: 90%;
        font-weight: 500;
    }

    .button img {
        margin-right: 10px;
    }

    .box-content .button {
        justify-content: space-evenly;
        background-color: white;
        width: 180px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }

}



@media (min-width: 600px) {

    .box {
        width: calc(50% - 10px);
    }
}

@media (min-width: 1024px) {
    .box {
        width: calc(50% - 20px);
    }
}

/* Program section Ends Here */

.choose-section {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 50px 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .choose-content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /* Hide overflow for mobile to avoid scrollbar */
  }
  
  .left-section {
    flex: 1;
    padding: 0 15px;
    text-align: center;
  }
  
  .left-section img {
    max-width: 100%; /* Ensure image scales on mobile */
    max-height: 100%; /* Consider setting a max-height if needed */
  }
  
  .right-section {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    text-align: right;
  }
  
  .right-section h1 {
    font-size: var(--body--h1-Font-Size);
    color: white;
  }
  
  .right-section span {
    font-size: 16px;
    color: #00D1D1;
  }
  
  .right-section p {
    line-height: 25px;
    margin: 0; /* Remove margin-left on mobile */
    color: white;
    width: 100%; /* Allow paragraphs to wrap on mobile */
  }
  
  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .choose-section {
      padding: 0px 0;
    }
  
    .choose-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .left-section,
    .right-section {
      flex: 100%;
      padding: 0 15px; /* Adjust padding if needed */
    }
  
    .right-section {
      order: 1;
      text-align: left;
    }
  
    .left-section {
      order: 2;
      width: 100%;
      height: auto; /* Adjust height as needed for image scaling */
    }
  
    .right-section p {
      margin: 0;
    }
  }
  
  
/* Choose section Ends Here */

.certification-section {
    width: 90%;
    max-width: 1300px;
    margin: 40px auto;
    padding: 40px 70px;
    background-color: #002121;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certification-content {
    display: flex;
    flex-wrap: wrap;
}

.certification-left-section {
    flex: 1;
    padding: 0 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.certification-left-section h1 {
    font-size: var(--body--h1-Font-Size);
    color: white;
}

.certification-left-section span {
    font-size: 16px;
    color: #00D1D1;
}

.certification-left-section p {
    width: 80%;
    line-height: 25px;
    color: white;
}

.certification-right-section {
    flex: 1;
    text-align: center;
}

.certification-right-section img {
    max-width: 90%;
}

@media (max-width: 768px) {

    .certification-section {
        width: 90%;
        max-width: 1300px;
        margin: 0px auto;
        padding: 40px 70px;
        background-color: #002121;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .certification-content {
        display: flex;
        flex-wrap: wrap;
    }
    
    .certification-left-section {
        flex: 1;
        padding: 0 15px;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: start;
        align-items: start;
        margin-left: 20px;
    }
    
    .certification-left-section h1 {
        font-size: var(--body--h1-Font-Size);
        color: white;
    }
    
    .certification-left-section span {
        font-size: 16px;
        color: #00D1D1;
    }
    
    .certification-left-section p {
        width: 95%;
        line-height: 25px;
        color: white;
        text-align: left;
    }
    
    .certification-right-section {
        flex: 1;
        text-align: center;
        margin-top: 50px;
    }
    
    .certification-right-section img {
        max-width: 90%;
    }

    .certification-section {
        padding: 30px 0;
    }

    .certification-left-section,
    .certification-right-section {
        flex: 100%;
        text-align: center;
        padding: 0;
    }
}

/* Contact Form Starts From Here */

.contact {
    overflow: hidden;
    width: 90%;
    max-width: 1200px;
    display: flex;
    margin: 80px auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-left {
    width: 50%;
    color: white;
}

.contact-right {
    width: 50%;
}

.contact-left h1 {
    font-size: var(--body--h1-Font-Size);
    overflow: hidden; /* Added this to remove the scrollbar */
}

.contact-left p {
    width: 60%;
    margin-top: 23px;
    line-height: 23px;
}

.email-content {
    padding: 15px;
}

.email-content p {
    margin-top: 3px;
    width: 100%;
}

.contact-links {
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-icons-links {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.address {
    width: 100%;
    display: flex;
    align-items: center; /* Added to align the icon properly */
    overflow: hidden;
}

.address img {
    width: 96px; 
    height: 50px; /* Adjust the size to match the other icons
    margin-right: 10px; /* Add some space between the icon and the text */
}

.address p {
    width: 100%;
}

.contact-form {
    background-color: #00D1D1;
    padding: 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    width: 100%;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 12px;
    margin-left: 15px;
    font-weight: 800;
}

.contact-form input,
.contact-form select {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: black;
    outline: none;
    width: 100%;
    max-width: 400px;
    height: 50px;
}

.contact-form input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.contact-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: rgb(255, 255, 255);
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJibGFjayIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDE1bC00LjMtNC40Yy0uMi0uMi0uNS0uMi0uNyAwbC0xLjEgMS4xYy0uMi4yLS4yLjUtLjIuNyAwIC4yLjIuNS4zLjdsNSA1Yy4yLjIuNS4yLjcgMGw1LTVjLjItLjIuMi0uNSAwLS43bC0xLjEtMS4xYy0uMi0uMi0uNS0uMi0uNyAwTDEyIDE1eiIvPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    color: rgb(0, 0, 0);
}

.submit-button {
    background-color: #00D1D1;
    color: white;
    padding: 15px 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
}

.contact-form select option {
    background-color: #00D1D1;
    border-radius: 0px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .contact {
        width: 90%;
        margin: 40px auto;
        flex-wrap: wrap;
    }

    .contact-left, .contact-right {
        width: 100%;
    }

    .contact-left h1 {
        line-height: 25px;
        text-align: left;
        font-size: 28px;
        width: 90%;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .contact-left p, .email-content p {
        width: 100%;
        margin-top: 23px;
        line-height: 23px;
    }

    .contact-links {
        width: 100%;
        height: auto;
    }

    .contact-icons-links, .address {
        width: 100%;
        height: auto;
    }

    .contact-form {
        margin-top: 30px;
        padding: 25px;
        width: 90%;
        max-width: 320px;
        height: auto;
    }

    .contact-form label {
        margin-left: 0;
        margin-top: 20px;
        font-weight: 800;
        font-size: 16px;
    }

    .contact-form input, .contact-form select, .submit-button {
        width: 100%;
        max-width: 260px;
        margin: 0 auto 20px auto;
    }

    .submit-button {
        margin-top: 30px;
    }
}

/* Copyright Section Starts From Here */

.copyright {
    width: 100%;
    background-color: #00D1D1;
    text-align: center;
    padding: 15px 0;
}

.copyright p {
    color: white;
    margin: 0px auto;
    font-size: 14px;
    width: 90%;
    text-align: center;
}