* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;

}

body {
    font-family: 'Exo', sans-serif;
    background-color: #001515;
    scroll-behavior: smooth scroll;
}

:root {
    --body--h1-Font-Size: 3rem;
}



.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    overflow: hidden;
    padding: 0px 20px;
    width: 100vw;
    height: 200px;
    max-width: 1300px;
    position: relative;
    z-index: 1;
    margin: 0px auto;
}

ul li ul.dropdown li{
    display: block;
    padding: 1px;

}

ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 9999;
    display: none;
    padding: 40px;
}

ul li:hover ul.dropdown{
    display: block;
    padding: 10px;
    margin: 0px auto;
}

.dropdown ul li{
    padding: 10px;
    background-color: #009898;
    width: 32%;
}
.dropdown:hover ul li{
    padding: 5px;
    width: 32%;
    border: 1px solid rgb(158, 158, 158);
}


.logo {
    display: flex;
    align-items: center;
    width: 26%;
    margin-right: 20px;
    overflow: hidden;
}

.logo-img {
    height: 100px;
}

.navbar-right {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 40px;
    overflow: hidden;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 10px;
    overflow: hidden;
    margin: 0;
}

.nav-links li {
    display: inline;
    overflow: hidden;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 19px;
    overflow: hidden;
}

.buttons {
    display: flex;
    gap: 20px;
}

.contact-us {
    background-color: #009898;
    color: white;
    border: none;
    padding: 12px 35px;
    cursor: pointer;
    font-size: 14px;
}

.contact-us:hover,
.apply-now:hover {
    opacity: 0.8;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #002121;
    overflow-x: hidden;
    transition: 0.5s;

    padding-top: 60px;
    color: white;
    text-align: center;
    z-index: 1000;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #16307c86;
}

.sidebar .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

.sidebar .contact-us,
.sidebar .apply-now {
    margin: 10px 0;
}

@media (max-width: 868px) {

    ul li ul.dropdown li{
        display: block;
        padding: 1px;
    
    }
    
    ul li ul.dropdown{
        width: 100%;
        position: absolute;
        z-index: 9999;
        display: none;
        padding: 40px;
    }
    
    ul li:hover ul.dropdown{
        display: block;
        padding: 10px;
        margin: 0px auto;
    }
    
    .dropdown ul li{
        padding: 0px;
        background-color: #009898;
        width: 100%;
    }

    .dropdown:hover ul li{
        padding: 5px;
        width: 100%;
        border: 1px solid rgb(158, 158, 158);
    }
    
    


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: white;
        overflow: hidden;
        padding: 45px 20px;
        width: 9cm;
        height: 60px;
        position: relative;
        z-index: 1;
        margin: 30px auto;
    }

    .sidebar li {
        list-style-type: none;
        font-size: 10px;
    }

    .logo {
        display: flex;
        align-items: center;
        margin-right: 20px;
        width: 505%;
        margin-right: 20px;
        overflow: hidden;
    }

    .navbar-right {
        width: 80%;
        display: flex;
        align-items: center;
        gap: 60px;
        overflow: hidden;

    }


    .nav-links,
    .buttons {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .logo img {
        height: 65px;
        margin-left: 20px;

    }

    nav {
        padding: 0px;
    }
}

header {
    position: relative;
    width: 100%;
    height: 85vh;
    background: url(Assets/hero-bg-img.png) no-repeat center center/cover;
    overflow: hidden;
}


.hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.hero-content {
    max-width: 1500px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 400px;
}

.hero h1 {
    font-size: 3.3rem;
    margin-bottom: 20px;
    margin: 0px auto;
    width: 45%;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 30px;
    width: 70%;
}

.hero-button {
    background: #fff;
    color: #014874;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 899px) {

    header {
        position: relative;
        width: 100%;
        height: 92vh;
        background: url(Assets/hero-bg-img.png) no-repeat center center/cover;
    }

}

@media (max-width: 768px) {
    .hero {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-content {
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 250px;
    }

    .hero h1 {
        font-size: 1.9rem;
        margin-bottom: 20px;
        margin: 0px auto;
        width: 95%;
    }

    .hero p {
        font-size: 1rem;
        margin-bottom: 30px;
        width: 96%;
    }
}

/* Header Section Ends Here */

.about-section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}

.about-overlay {
    position: absolute;
    z-index: 2000;
    right: -70px;
    top: -20px;
}

.container {
    display: flex;
    justify-content: center;
}

.about-content {
    display: flex;
}

.left-section {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: start;
    text-align: left;
}

.left-section span {
    color: #00D1D1;
    font-size: 18px;
}

.left-section h1 {
    font-size: var(--body--h1-Font-Size);
    color: white;
}

.left-section p {
    color: white;
    width: 80%;
    text-align: left;
}

.right-section {
    flex: 1;
}

.right-section img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column-reverse;
    }

    .left-section span {
        text-align: left;
    }


    .left-section,
    .right-section {
        padding: 0;
        margin-top: 50px;
        width: 95%;
    }

    .about-overlay {
        display: none;
    }

    .about-section {
        padding: 10px 0;
    }

    .about-content p {
        width: 98%;

    }
}

/* About Section Ends Here */
.program {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    background-color: #002121;
    margin-bottom: 80px;
}

.program-head {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0px auto;
    align-items: center;
    overflow: hidden;
}

.program-head h1 {
    font-size: var(--body--h1-Font-Size);
    color: white;
}

.program-head span {
    color: #00D1D1;
}

.program-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding: 40px 0px;
}

.img {
    width: 100%;
    height: 100%;
}

.box {
    color: white;
    width: 95%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    overflow: hidden;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.box-1 {
    background-color: #009898;
}

a .button p {
    color: #021616;
    font-weight: bold;
}

.box-content p {
    font-size: 16px;
    width: 80%;
    font-weight: 500;
}

.button img {
    margin-right: 10px;
}

.box-content .button {
    justify-content: space-evenly;
    background-color: white;
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-4 {
    background-color: #0047FF;
}

@media (max-width: 768px) {

    .program-box-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        gap: 0px;
        padding: 30px 0px;
    }

    .program {
        margin-top: 60px;
    }

    .program-head {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0px auto;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .img {
        width: 100%;
        height: 63%;
        background-color: none;
    }

    .box {
        color: white;
        width: 95%;
        height: 330px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
    }

    .box-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .box-content h4 {
        font-size: 22px;
        width: 90%;
    }

    .box-1 {
        background-color: #009898;
    }

    a .button p {
        color: #021616;
        font-weight: bold;
    }

    .box-content p {
        font-size: 15px;
        width: 90%;
        font-weight: 500;
    }

    .button img {
        margin-right: 10px;
    }

    .box-content .button {
        justify-content: space-evenly;
        background-color: white;
        width: 180px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .box-2 {
        order: 3;
    }

    .box-4 {
        order: 2;
    }
}

@media (min-width: 600px) {
    .box {
        width: calc(50% - 10px);
    }
}

@media (min-width: 1024px) {
    .box {
        width: calc(50% - 20px);
    }
}

/* Program section Ends Here */

.include-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 80px;
    position: relative;
    max-width: 1500px;
    margin: 0px auto;
    
}

.include-box {
    background-color: #002121;
    color: #fff;
    width: 370px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
}

.include-box-content-2{
    margin-top: 50px;
}

.include-box-image-1 img{
    position: absolute;
    left: 280px;
    top: 10px;
    z-index: 10000;
}
.include-box-image-2 img{
    position: absolute;
    left: 690px;
    top: 10px;
    z-index: 110000;
}
.include-box-image-3 img{
    position: absolute;
    right: 260px;
    top: 10px;
    z-index: 10000;
}

.include-box-image-1 img {
    max-width: 300px;
}

.include-box-content {
    padding: 80px 20px 20px;
}

.include-box-heading {
    margin-bottom: 10px;
}

.include-box-paragraph {
    margin-bottom: 20px;
    line-height: 30px;
}

/* Responsive styles */

@media (max-width: 800px) {

    .include-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        padding: 80px 0px;
        position: relative;
        max-width: 1500px;
        margin: 0px auto;
        
    }

    .include-heading h1{
        font-size: 16px;
    }
    
    .include-box {
        background-color: #002121;
        color: #fff;
        width: 570px;
        overflow: hidden;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .include-box-image-1 img{
        position: absolute;
        left: 110px;
        top: 50px;
        z-index: 110000;
    }
    .include-box-image-2 img{
        position: absolute;
        left: 110px;
        top: 560px;
        z-index: 1200300;
    }
    .include-box-image-3 img{
        position: absolute;
        left: 110px;
        top: 960px;
        z-index: 10000;
    }
        
    .include-box-content {
        padding: 80px 20px 20px;
    }
    
    .include-box-heading {
        margin-bottom: 10px;
    }
    
    .include-box-paragraph {
        margin-bottom: 20px;
        line-height: 30px;
    }
}

/* Include section Ends Here */


.trainers-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
}

.section-head-left {
    width: 50%;
}

.section-head-right {
    width: 40%;
    text-align: right;
    color: white;
}

.section-head-left h1 {
    font-size: var(--body--h1-Font-Size);
    color: white;
    width: 100%;
    max-width: 1200px;
    margin-top: 100px;
    margin: 0px auto;
}

.section-heading {
    display: flex;
    justify-content: space-between;
    padding: 0px 130px;
    max-width: 1300px;
    margin: 20px auto;
}

.section-head-left h3 {
    font-size: 16px;
    color: #00D1D1;
    width: 100%;
    max-width: 1200px;
    margin-top: 120px;
    margin: 0px auto;
    font-weight: 400;
}


.trainer-box {
    margin-top: 169px;
    background-color: #002121;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.trainer-img-1 {
    z-index: 10000;
    position: absolute;
    max-width: 370px;
    top: 0px;
}

.trainer-image {
    z-index: 102000;
    position: absolute;
    max-width: 392px;
    top: 20px;
}


.trainer-heading {
    background-color: #00D1D1;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    margin-top: 115px;
    margin-bottom: 20px;
}

.trainer-description {
    margin-bottom: 10px;
}

.trainer-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.trainer-icons-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.trainer-description {
    line-height: 30px;
}

.trainer-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.trainer-images-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.trainer-icon {
    width: 45px;
    height: 45px;
}

.trainer-icon-2 {
    width: 45px;
    height: 45px;
}

/* Responsive styles */
@media (max-width: 910px) {
    .trainer-box {
        width: 100%;
    }

    .section-heading {
        margin-top: 80px;
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
    }

    .section-head-left {
        width: 90%;
    }

    .section-head-right {
        width: 100%;
        text-align: left;
        padding: 20px 30px;
    }

    .section-head-left h1 {
        font-size: var(--body--h1-Font-Size);
        color: white;
        width: 100%;
        padding: 0px 30px;
        max-width: 1200px;
        margin-top: 100px;
        margin: 0px auto;
    }

    .section-head-left h3 {
        font-size: 20px;
        width: 100%;
        padding: 0px 30px;
        max-width: 1200px;
        margin-top: 120px;
        margin: 0px auto;
        font-weight: 400;
    }


    .trainer-image {
        z-index: 102000;
        position: absolute;
        max-width: 310px;
        top: 888px;
    }

    .trainer-img-1 {
        z-index: 10000;
        position: absolute;
        max-width: 290px;
        top: 30px;
    }


    .trainer-box {
        margin-top: 129px;
        background-color: #002121;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 500px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }



    .trainer-heading {
        background-color: #00D1D1;
        color: white;
        text-transform: uppercase;
        padding: 10px;
        width: 100%;
        font-size: 18px;
        margin-top: 115px;
        margin-bottom: 20px;
    }

    .trainer-description {
        margin-bottom: 10px;
    }

    .trainer-icons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .trainer-icons-2 {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .trainer-description {
        line-height: 25px;
        font-size: 16px;
    }

    .trainer-images {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .trainer-images-2 {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 50px;
    }

    .trainer-icon {
        width: 45px;
        height: 45px;
    }

    .trainer-icon-2 {
        width: 45px;
        height: 45px;
    }

}



/* Trainers section Ends Here */

.choose-section {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 50px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.choose-content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    /* Hide overflow for mobile to avoid scrollbar */
}

.left-section {
    flex: 1;
    padding: 0 15px;
    text-align: center;
}

.left-section img {
    max-width: 100%;
    /* Ensure image scales on mobile */
    max-height: 100%;
    /* Consider setting a max-height if needed */
}

.right-section {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    text-align: right;
}

.right-section h1 {
    font-size: var(--body--h1-Font-Size);
    color: white;
}

.right-section span {
    font-size: 16px;
    color: #00D1D1;
}

.right-section p {
    line-height: 25px;
    margin: 0;
    /* Remove margin-left on mobile */
    color: white;
    width: 100%;
    /* Allow paragraphs to wrap on mobile */
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choose-section {
        padding: 0px 0;
    }

    .choose-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .left-section,
    .right-section {
        flex: 100%;
        padding: 0 15px;
        /* Adjust padding if needed */
    }

    .right-section {
        order: 1;
        text-align: left;
    }

    .left-section {
        order: 2;
        width: 100%;
        height: auto;
        /* Adjust height as needed for image scaling */
    }

    .right-section p {
        margin: 0;
    }
}


/* Choose section Ends Here */

.certification-section {
    width: 90%;
    max-width: 1300px;
    margin: 40px auto;
    padding: 40px 70px;
    background-color: #002121;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certification-content {
    display: flex;
    flex-wrap: wrap;
}

.certification-left-section {
    flex: 1;
    padding: 0 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.certification-left-section h1 {
    font-size: var(--body--h1-Font-Size);
    color: white;
}

.certification-left-section span {
    font-size: 16px;
    color: #00D1D1;
}

.certification-left-section p {
    width: 80%;
    line-height: 25px;
    color: white;
}

.certification-right-section {
    flex: 1;
    text-align: center;
}

.certification-right-section img {
    max-width: 90%;
}

@media (max-width: 768px) {

    .certification-section {
        width: 90%;
        max-width: 1300px;
        margin: 0px auto;
        padding: 40px 70px;
        background-color: #002121;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .certification-content {
        display: flex;
        flex-wrap: wrap;
    }

    .certification-left-section {
        flex: 1;
        padding: 0 15px;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: start;
        align-items: start;
        margin-left: 20px;
    }

    .certification-left-section h1 {
        font-size: var(--body--h1-Font-Size);
        color: white;
    }

    .certification-left-section span {
        font-size: 16px;
        color: #00D1D1;
    }

    .certification-left-section p {
        width: 95%;
        line-height: 25px;
        color: white;
        text-align: left;
    }

    .certification-right-section {
        flex: 1;
        text-align: center;
        margin-top: 50px;
    }

    .certification-right-section img {
        max-width: 90%;
    }

    .certification-section {
        padding: 30px 0;
    }

    .certification-left-section,
    .certification-right-section {
        flex: 100%;
        text-align: center;
        padding: 0;
    }
}

/* Contact Form Starts From Here */

.contact {
    overflow: hidden;
    width: 90%;
    max-width: 1200px;
    display: flex;
    margin: 80px auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-left {
    width: 50%;
    color: white;
}

.contact-right {
    width: 50%;
    height: 80%;
}

.contact-left h1 {
    font-size: var(--body--h1-Font-Size);
    overflow: hidden;
    /* Added this to remove the scrollbar */
}

.contact-left p {
    width: 60%;
    margin-top: 23px;
    line-height: 23px;
}

.email-content {
    padding: 15px;
}

.email-content p {
    margin-top: 3px;
    width: 100%;
}

.contact-links {
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-icons-links {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.address {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.address img {
    width: 96px;
    height: 50px;
    /* Adjust the size to match the other icons
    margin-right: 10px; /* Add some space between the icon and the text */
}

.address p {
    width: 100%;
}

.contact-form {
    background-color: #00D1D1;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 12px;
    margin-left: 15px;
    overflow: hidden;
    font-weight: 800;
}

.contact-form input,
.contact-form select {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: black;
    outline: none;
    width: 400px;
    height: 50px;
    overflow: hidden;
}

.contact-form input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.contact-form select {
    overflow: hidden;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: rgb(255, 255, 255);
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJibGFjayIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDE1bC00LjMtNC40Yy0uMi0uMi0uNS0uMi0uNyAwbC0xLjEgMS4xYy0uMi4yLS4yLjUtLjIuNyAwIC4yLjIuNS4zLjdsNSA1Yy4yLjIuNS4yLjcgMGw1LTVjLjItLjIuMi0uNSAwLS43bC0xLjEtMS4xYy0uMi0uMi0uNS0uMi0uNyAwTDEyIDE1eiIvPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    color: rgb(0, 0, 0);
}

.submit-button {
    background-color: #009898;
    color: white;
    padding: 15px 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    overflow: hidden;
}

.contact-form select option {
    background-color: #00D1D1;
    cursor: pointer;
}

@media (max-width: 700px) {
    .contact {
        width: 90%;
        margin: 40px auto;
        flex-wrap: wrap;
    }

    .contact-left,
    .contact-right {
        width: 100%;
    }

    .address img {
        width: 146px;
        height: 50px;
        /* Adjust the size to match the other icons
        margin-right: 10px; /* Add some space between the icon and the text */
    }

    .contact-left h1 {
        text-align: left;
        font-size: 34px;
        width: 90%;
        letter-spacing: 1px;
        font-weight: 900;
    }

    .contact-left p,
    .email-content p {
        width: 100%;
        margin-top: 23px;
        line-height: 23px;
    }

    .contact-links {
        width: 100%;
        height: auto;
    }

    .contact-icons-links,
    .address {
        width: 100%;
        height: auto;
    }

    .contact-form {
        margin-top: 30px;
        padding: 25px;
        width: 90%;
        max-width: 320px;
        height: auto;
    }

    .contact-form label {
        margin-left: 0;
        margin-top: 20px;
        font-weight: 800;
        font-size: 16px;
    }

    .contact-form input,
    .contact-form select,
    .submit-button {
        width: 100%;
        max-width: 260px;
        margin: 0 auto 20px auto;
    }

    .submit-button {
        margin-top: 30px;
    }
}

/* Copyright Section Starts From Here */

.copyright {
    width: 100%;
    background-color: #00D1D1;
    text-align: center;
    padding: 15px 0;
}

.copyright p {
    color: white;
    margin: 0px auto;
    font-size: 14px;
    width: 90%;
    text-align: center;
}